<footer>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="row">
      <div class="four columns mt3 mt0-l" id="get-help">
        <h4>Products</h4>
        <ul>
          <li><a href="/products/line1/">Line 1</a></li>
          <li><a href="/products/line2/">Line 2</a></li>
        </ul>
      </div>
      <div class="four columns mt3 mt0-l">
        <h4>Info</h4>
        <ul>
          <li><a href="/why/">Why LeviDrone?</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </div>
      <div class="three columns mt3 mt0-l">
        <h4>Social</h4>
        <a href="https://t.me/levidrone" target="_blank" rel="noopener" alt="telegram link"><img src="/img/telegram.svg" alt="telegram logo" title="Telegram"/></a>
        <a href="https://www.youtube.com/channel/levidrone" target="_blank" rel="noopener" alt="youtube link"><img style="padding-top: 6px; padding-bottom:6px" src="/img/youtube.svg" alt="youtube logo" title="YouTube"/></a>
        <a href="https://github.com/levidrone" target="_blank" rel="noopener" alt="github link"><img src="/img/github.svg" alt="github logo" title="GitHub"/></a>
      </div>

    </div>
    <div class="attribution">
      See a typo?
      <a href="https://github.com/levidrone/levidrone.com" target="_blank" rel="noopener">Send a fix here</a>!
    </div>
  </div>
</footer>