<footer>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="row">
      <div class="four columns mt3 mt0-l" id="get-help">
        <h4>Products</h4>
        <ul>
          <li><a href="/products/brixx/">Brixx</a></li>
          <li><a href="/products/carrier-boards/">Carrier Boards</a></li>
        </ul>
      </div>
      <div class="four columns mt3 mt0-l">
        <h4>Info</h4>
        <ul>
          <li><a href="/why/">Why LeviDrone?</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </div>
      <div class="four columns mt3 mt0-l">
        <h4>Social</h4>
        <a href="https://github.com/levidrone" target="_blank" rel="noopener" alt="GitHub"><img src="/img/github.svg" alt="github logo" title="GitHub"/></a>
        <a href="https://www.instagram.com/levidrone/" target="_blank" rel="noopener" alt="Instagram"><img src="/img/instagram.svg" alt="youtube logo" title="Instagram"/></a>
        <a href="https://www.youtube.com/channel/UCMTnC3k7s8s53Y2k5tvDEXw" target="_blank" rel="noopener" alt="YouTube"><img style="padding-top: 6px; padding-bottom:6px" src="/img/youtube.svg" alt="youtube logo" title="YouTube"/></a>
        <a href="https://t.me/levidrone" target="_blank" rel="noopener" alt="Telegram"><img src="/img/telegram.svg" alt="telegram logo" title="Telegram"/></a>
      </div>

    </div>
    <div class="attribution">
      Copyright &copy; 2016&ndash;{{year}} LeviDrone
    </div>
  </div>
</footer>