<footer class="pv0 w-100">
  <div class="{{body}} f4-ns f5">
    <div class="flex-none flex-ns">
      <div class="mt1 pv0-ns w-100">
        <h4 class="f3-ns f4 mv3">Products</h4>
        <ul class="mt1">
          <li class="pv2"><a href="/products/brixx/">Brixx</a></li>
          <li class="pv2"><a href="/products/carrier-boards/">Carrier Boards</a></li>
        </ul>
      </div>

      <div class="mt1 mh5-l pv0-ns w-100">
        <h4 class="f3-ns f4 mv3">Info</h4>
        <ul class="mt1">
          <li class="pv2"><a href="/why/">Why LeviDrone?</a></li>
          <li class="pv2"><a href="/about/">About</a></li>
        </ul>
      </div>

      <div class="mt1 pv0-ns w-100">
        <h4 class="f3-ns f4 mv3">Social</h4>
        <div class="flex flex-row mt1 pv2">
          <a href="https://github.com/levidrone" target="_blank" rel="noopener" alt="GitHub"><img src="/img/github.svg" alt="github logo" title="GitHub"/></a>
          <a href="https://www.instagram.com/levidrone/" target="_blank" rel="noopener" alt="Instagram"><img src="/img/instagram.svg" alt="Instagram" title="Instagram"/></a>
          <a href="https://www.youtube.com/channel/UCMTnC3k7s8s53Y2k5tvDEXw" target="_blank" rel="noopener" alt="YouTube"><img src="/img/youtube.svg" alt="YouTube" title="YouTube"/></a>
          <a href="https://t.me/levidrone" target="_blank" rel="noopener" alt="Telegram"><img src="/img/telegram.svg" alt="Telegram" title="Telegram"/></a>
        </div>
        <div class="f5-ns pv3">
          Copyright &copy; 2016&ndash;{{year}} LeviDrone
        </div>
      </div>
    </div>
  </div>
</footer>
