<nav class="flex flex-row flex-wrap items-center justify-center justify-end-l ph2 pl3-ns pr4-ns">
  <div class="brand flex-auto self-start tc tl-l w-100 w-auto-l">
    <a href="/"><img class="ml0-l v-mid" alt="LeviDrone Logo" src="/img/logo.svg"></a>
  </div>

  <ul class="f3-ns f4 flex flex-none flex-row flex-wrap items-center justify-center justify-end-l list mt0 mb0 nav ph0 ph4-ns pv1 w-100 w-auto-l">
    <li class="ph2 ph4-ns pv2 flex-20-s tc"><a href="/products/">Products</a></li>
    <li class="ph2 ph4-ns pv2 flex-20-s tc"><a href="/why/">Why LeviDrone?</a></li>
    <li class="ph2 ph4-ns pv2 flex-20-s tc"><a href="/about/">About</a></li>
  </ul>
</nav>