{{#*inline "page"}}

<header class="mt3 mt0-ns mb6-ns w-100 mw-none ph3 mw8-m mw9-l center">
  <div class="flex flex-column flex-row-l">
    <div class="w-80-l pl6-l pl3 mw8-l">
      <h1>404</h1>
      <h2 class="mt4 f2 f1-ns">
        We can't find this page. Start at the <a href="/">beginning</a>.
      </h2>
    </div>
  </div>
</header>

{{/inline}}
{{~> (parent)~}}
