{{#*inline "page"}}

<header class="mb6-ns mt0-ns mt3 w-100">
  <h1 class="{{h1}}">404</h1>
  <div class="{{large}}">
    We can't find this page. Start at the <a href="/">beginning</a>.
  </h2>
</header>

{{/inline}}
{{~> (parent)~}}
