{{#*inline "page"}}

<section id="about" class="w-100">
  <h2>About LeviDrone</h2>
  <p class="f2 lh-copy">
    LeviDrone is a company that develops and mass produces professional electronics for unmanned aerial vehicles.
    The company is founded in Russia by people from the military and aerospace systems development industry.
  </p>
  <div class="w-100">

    <div class="flex-l flex-none">
      <div class="mt4 pv0-l pv2 w-100">
        <h3 class="f1-l f2 tc">Find Us on Socials</h3>
        <a class="button button-yellow" href="https://github.com/levidrone" target="_blank" rel="noopener">GitHub</a>
        <a class="button button-yellow" href="https://www.instagram.com/levidrone/" target="_blank" rel="noopener">Instagram</a>
        <a class="button button-yellow" href="https://www.youtube.com/channel/UCMTnC3k7s8s53Y2k5tvDEXw" target="_blank" rel="noopener">YouTube</a>
        <a class="button button-yellow" href="https://t.me/levidrone" target="_blank" rel="noopener">Telegram</a>
      </div>

      <div class="mh5-l mt4 pv0-l pv2 w-100">
        <h3 class="f1-l f2 tc">Write Us</h3>
        <a href="mailto:info@levidrone.com" class="button button-yellow">info@levidrone.com</a>
      </div>

      <div class="mt4 pv0-l pv2 w-100">
        <h3 class="f1-l f2 tc">Get Support</h3>
        <a href="mailto:support@levidrone.com" class="button button-yellow">support@levidrone.com</a>
      </div>
    </div>

  </div>
</section>

{{/inline}}
{{~> (parent)~}}
