{{#*inline "page"}}

<header class="mb6-ns mt0-ns mt3 w-100">
  <h1>Welcome</h1>
  <h2 class="f1-ns f2 mt4">
    We manufacture high quality components, modules, and devices for unmanned aerial vehicles.
  </h2>
</header>

{{/inline}}
{{~> (parent)~}}
