{{#*inline "page"}}

<header class="mb6-ns mt0-ns mt3 w-100">
  <h1 class="{{h1}}">Welcome</h1>
  <div class="{{large}}">
    We manufacture high quality components, modules, and devices for unmanned aerial vehicles.
  </div>
</header>

{{/inline}}
{{~> (parent)~}}
