{{#*inline "page"}}

<section id="products" class="w-100">
  <h2 class="{{h2}}">Products</h2>
  <div class="flex-l flex-none mb3">
    <div class="mr4-l pv0-l pv2 w-100">
      <h3 class="{{h3}}">Brixx</h3>
      <p class="lh-copy">
        Coming soon...
      </p>
      <a class="button button-yellow pv3" href="/products/brixx/">Learn More</a>
    </div>

    <div class="pv0-l pv2 w-100">
      <h3 class="{{h3}}">Carrier Boards</h3>
      <p class="lh-copy">
        Coming soon... 
      </p>
      <a class="button button-yellow pv3" href="/products/carrier-boards/">Learn More</a>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
