{{#*inline "page"}}

<section id="products" class="w-100">
  <h2 class="pb0">Products</h2>
  <div class="flex-l flex-none">

    <div class="mr4-l mt4 mw-50-1 pv0-l pv2 w-100">
      <h3 class="f1-l f2">Brixx</h3>
      <p class="f3 lh-copy">
        Coming soon...
      </p>
      <a class="button button-yellow" href="/products/brixx/">Learn More</a>
    </div>

    <div class="mt4 mw-50-1 pv0-l pv2 w-100">
      <h3 class="f1-l f2">Carrier Boards</h3>
      <p class="f3 lh-copy">
        Coming soon... 
      </p>
      <a class="button button-yellow" href="/products/carrier-boards/">Learn More</a>
    </div>

  </div>
</section>

{{/inline}}
{{~> (parent)~}}
