{{#*inline "page"}}

<section id="why" class="w-100">
  <h2 class="{{h2}}">Why LeviDrone?</h2>
  <div class="flex-l flex-none">

    <div class="pv0-l pv2 w-100">
      <h3 class="{{h3}}">No Compomises</h3>
      <p class="f3 lh-copy">
        We borrow the most advanced approaches from highly reliable military and aerospace system developments.
        All our products are designed to have improved electromagnetic interference compatibility and reliability.
        We confirm all stated specifications by testing each manufactured device.
      </p>
    </div>

    <div class="mh5-l pv0-l pv2 w-100">
      <h3 class="{{h3}}">Trusted Components</h3>
      <p class="f3 lh-copy">
        We use electronic components from well known and recognized manufacturers.
        We don’t use noname parts or items from unverified sellers.
        When there is a choice between cost and quality, we choose the latter.
      </p>
    </div>

    <div class="pv0-l pv2 w-100">
      <h3 class="{{h3}}">Easy to Use</h3>
      <p class="f3 lh-copy">
        Most products can be supplied as either standalone ready-to-use devices or as embedded modules. 
        Comprehensive documentation, various reference designs, and responsive support provide the best possible solution to the challenges of using drones. 
      </p>
    </div>

  </div>
</section>

{{/inline}}
{{~> (parent)~}}
